<!-- BASE HTML FILES, WILL CONTAIN NAVBAR AND FOOTER-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base Page {% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            
            <span>Tomi's Musings</span>
        </div>
    </div>
    <!-- BIGGEST TEXT OF THE WEBSITE -->
    <div>
        <h1>
            {% block pageCaption %} 
            {% endblock %}
        </h1>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>