{% load static %}
<!-- BASE HTML FILES, WILL CONTAIN NAVBAR AND FOOTER-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ADD MONTSERRAT FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ADD BOOTSRAP CDN (FIRST JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- THEN CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- ADD SOME CUSTOM CSS (MIGHT NOT NEED - FINGERS CROSSED-)  -->
    <link rel="stylesheet" href="{% static 'blog/custom.css' %}">

    <!-- WEBSITE TITLE -->
    <title>{% block title %} Base Page {% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="{% static 'blog/musings_logo.png' %}" alt="">
            <span><a href="/">Tomi's Musings</a></span>
        </div>

        <div class="btn btn-primary">
            LEBRON JAMES
        </div>
    </div>
    <!-- BIGGEST TEXT OF THE WEBSITE -->
    <div>
        <h1>
            {% block pageCaption %} 
            {% endblock %}
        </h1>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>