{% load static %}
<!-- BASE HTML FILES, WILL CONTAIN NAVBAR AND FOOTER-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ADD MONTSERRAT FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'blog/musings_logo.png' %}" type="image/x-icon">

    <!-- ADD CUSTOM BOOTSTRAP CSS -->
    <link href="{% static 'custom_bootstrap/css/custom.css' %}" rel="stylesheet">


    <!-- WEBSITE TITLE -->
    <title>{% block title %} Base Page {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fw-bold fs-3">
                <img src="{% static 'blog/musings_logo.png' %}"
                alt="Tomi's Musing's Logo"
                class="d-inline-block">
                <span style="padding-top: 10px;">Tomi's Musings</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#websiteMenu" aria-controls="websiteMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="websiteMenu">
                <ul class="navbar-nav me-auto mb-2 mg-lg-0">
                    <li class="nav-item"> 
                        <a href="/about" class="nav-link">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://github.com/tominekan" class="nav-link" target="_blank">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- BIGGEST TEXT OF THE WEBSITE -->
    <div>
        <h1>
            {% block pageCaption %} 
            {% endblock %}
        </h1>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>