{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
<div>
    <h1>Hi, I'm <span>Tomi!</span></h1>
    <p>These are a collection of my thoughts about random stuff in my life. 
        It spans coding, philosophy, and miscallenous personal reflections. 
        Whatever I think about and find the time to write down, you'll find it here.
    </p>
</div>
<h2>Some stuff I wrote: </h2>
{% for article in articles %}
    <div>
        <!-- THIS IS MOST DEFINITELY BUGGY, WILL FIX LATER -->
        <img src="{{ article.article_image.url }}" alt="{{ article.image_summary }}" style="width:150px">
    </div>
    <div>
        <span><a href="/{{ article.articleID }}">{{ article.title }}</a></span>
        <p>{{ article.summary }}</p>
    </div>
{% endfor %}

{% endblock %}